<%- include('../partials/header', {title} ); %>

    <div>
        <p>Cadastro de Alunos</p>

        <form method="post">
            <label for="cName">Primeiro Nome</label>
            <input type="text" value="" name="lName" id="cName" required><br>

            <label for="cLastName">Sobrenome</label>
            <input type="text" value="" name="lLastName" id="cLastName" required><br>

            <label for="cCpf">CPF</label>
            <input type="number" value="" name="lCpf" id="cCpf" required><br>
            
            <label for="cEmail">E-mail</label>
            <input type="email" value="" name="lEmail" id="cEmail" required><br>

            <label for="cPassword">Password</label>
            <input type="password" value="" name="lPassword" id="cPassowrd" required><br>

            <label for="cRepeatPassword">Repeat Password</label>
            <input type="password" value="" name="lRepeatPassword" id="cRepeatPassword" required><br>

            <label for="cDateBirthday">Data de Nascimento</label>
            <input type="date" value="" name="lDateBirthday" id="cDateBirthday" required ><br>

            <label for="cTelephone">Telefone</label>
            <input type="number" value="" name="lTelephone" id="cTelephone" required><br>

            <input type="submit" value="Cadastrar">
            <a href="/user/registration"><button type="button" >Cadastrar</button></a>
        </form>
    </div>

<%- include("../partials/footer"); -%>